.one{
    background-color: green;
    height:60px;
    width:70x;
    color:black;
}
.three{
    background-color: rgb(110, 75, 75);
    height: 40px;
}
.flex-container{
    display:flex;
    background-color:blue;
    height:45px;
    justify-content:start;
}
.flex-container >a{
    padding:15px;
    color:white;
    font-weight:bold;
}

a:link{
    text-decoration: none;
}
.content{
    background-color:brown;
    display:flex;
    justify-content:space-between;
}
.footer{
    background-color:darkorange;
}
.img{
    width:770px;
    height:457px;
    margin-left:60px;
    margin-top:40px;
    margin-bottom: 40px;
    border-radius: 20px;
}
.intro{
    background-color:rgb(69, 69, 190);
    margin-top:40px;
    margin-left:22px;
    margin-right:90px;
    width:600px;
    height:455px;
    font-family: 'Times New Roman';
    border-radius: 10px;
}

