body{
    position: relative;
    font-family: "Crimson Text", serif;

}
.notice{
    background-color:#68ebd940;
    width:430px;
    height:40px;
   padding:4px;
   padding-left:20px;
   display:flex;
   align-items: center;
   margin-top:0px;

}
.flex-container{
    display:flex;
    flex-direction: column;
   
}
.flex-container img{
    margin-top:50px;
    margin-left:3px;
    margin-right:13px;
    margin-bottom: 12px;
    width:405px;
    height:250px;
    border-radius: 10px;
}
.intro{
    margin:5px;
    width:405px;
    background-color:rgb(93, 93, 153);
    color:white;
    border-radius: 5px;
}
.message{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
}
.message img{
   align-items: center;
    width:263px;
    height:321px;
}
.message div{
    margin:30px;
    margin-top: 0px;
}
.profile{
    display:flex;
    flex-direction:column;
    color: white;
}
.profile div{
    margin:10px;
    width:388px;
}
.profile .inst{
    background-color:green;
    height: 43px;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    padding-bottom:0px;
    display:flex;
    align-items:center;
}
.profile .list{
    color: blue;
    border:2px solid rgb(172, 169, 169); 
    border-radius: 6px;
    height:65px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 5px;
    margin-right: 2px;
  text-align: center;
  box-shadow:0.9px 0.9px rgb(121, 117, 117);
}
.profile .list:hover{
    background-color:grey;
    font-size:20px;
    opacity: 0.7;

}
.services{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.services .sewa{
    width:394px;
    height:270.27px;
    margin-top: 1px;
    margin-bottom:10px; 
    border-radius: 0px;   
}
.services .cap{
    color:blue; 
    text-align:center;
}
.News {
   display:flex;
   flex-direction:column;
}
.News img{
    width:382px;
    height: 250px;
    object-fit: cover;
    object-position: top;
}
.center{
    display:flex;
    background: red;
    flex-direction:column;
}